.header {
	border-bottom:1px solid #e3e3e3;
	height:120px;
	background-color:rgba(47, 47, 47, 0.3);
}
.header-logo {
	float:left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header-tools {
	float:right;
	height:120px;
}

#logo-image {
	width:250px;
}

.navigation {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

nav a {
	text-decoration: none;
	color: #efefef;
	font-size: 1.4em;
	margin: 0 20px;
	padding-top: 5px;
}